<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<bean id="loginService" class="source.LoginService"/>
	<bean id="user" class="source.factorybean.UserFactoryBean"/>

	<bean id="car1" class="source.factory.StaticFactory" factory-method="getCar">
		<constructor-arg value="baoma"/>
	</bean>

	<bean id="carFactory" class="source.factory.InstanceFactory"/>
	<bean id="car2" factory-bean="carFactory" factory-method="getCar">
		<constructor-arg value="baoma"/>
	</bean>

	<bean id="myAware" class="source.aware.MyApplicationAware"/>

</beans>